<div class="sidebar">
  <div class="sibar-stick">
    <aside class="widget">
      <h1 class="widget-title">Related</h1>
      <%- @related.each do |post| %>
      <article class="entry-item border-bottom clearfix">
        <%= link_to image_tag('http://www.placehold.it/105x105', class: 'responsive-img hover-effect'), post, class: 'image-frame' %>
        <div class="entry-content">
          <span class="entry-meta">in:&nbsp;</span>
          <%= link_to post.category.title, post.category, class: 'entry-category' %>
          <span class="entry-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <span class="entry-date"><%= post.published_at.strftime("%d.%m.%Y") %></span>
          <h4 class="entry-title">
            <%= link_to post.title, post %>
          </h4>
          <p><%= truncate(post.raw_text, length: 150, escape: false) %></p>
        </div><!--entry-content-->
      </article>
      <%- end %>
    </aside>
    <aside class="middle-sidebar">
      <div class="one-second-column-a">
        <section class="widget clearfix">
        <h1 class="widget-title">Random categories</h1>
          <ul class="clearfix">
          <%- @random_categories.each do |category| %>
            <li><%= link_to category.title, category %></li>
          <%- end %>
          </ul>
        </section>
      </div><!--one-second-column-a-->
      <div class="one-second-column-a last">
        <section class="widget clearfix">
          <h1 class="widget-title">Archives</h1>
          <ul>
            <li><a href="#">October 2012</a></li>
            <li><a href="#">September 2012</a></li>
            <li><a href="#">August 2012</a></li>
            <li><a href="#">July 2012</a></li>
            <li><a href="#">June 2012</a></li>
          </ul>
        </section>
      </div><!--one-second-column-a-->
      <div class="clear"></div>
    </aside><!--middle-sidebar-->
    <aside class="widget">
      <h1 class="widget-title">Advertisement</h1>
      <figure class="clearfix">
        <a href="#"><img class="hover-effect responsive-img" src="http://www.placehold.it/125x125" alt=""></a>
        <a href="#"><img class="hover-effect responsive-img" src="http://www.placehold.it/125x125" alt=""></a>
      </figure>
    </aside>
  </div><!--sibar-stick-->
</div><!--end:sidebar-->
