<div class="main-content clearfix">
  <div class="main-col">
    <div class="breadcrumb clearfix">
      <%= link_to 'Home', root_path %>
    <%- @category.up_tree.each do |category| %>
      <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
      <%= link_to category.title, category, class: "#{'current-page' if category == @category}" %>
    <%- end %>
    </div>
    <section class="entry-box">
      <%- @posts.each do |post| %>
      <article class="news-item clearfix">
        <%= link_to image_tag('http://www.placehold.it/320x220', class: 'responsive-img hover-effect'), post, class: 'entry-thumb' %>
        <div class="entry-content">
          <div class="meta-box">
            <span class="entry-meta">in:&nbsp;</span>
            <%= link_to post.category.title, post.category, class: 'entry-category' %>
            <span class="entry-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span class="entry-date"><%= post.published_at.strftime("%d.%m.%Y") %></span>
          </div><!--meta-box-->
          <h2 class="entry-title">
            <%= link_to post.title, post %>
          </h2>
          <p><%= truncate(strip_tags(post.body), length: 450, escape: false) %></p>
          <%= link_to 'Read more', post, class: 'small-button' %>
        </div><!--end:entry-content-->
      </article><!--end:entry-item-->
      <%- end %>
      <%= paginate @posts %>
    </section><!--end:entry-box-->
  </div><!--end:main-col-->
  <%= render 'shared/sidebar' %>
  <div class="clear"></div>
</div><!--main-content-->
